.imag{
    height: 500px;
    width: 600px;
}

.texto{
    text-align: center;
    text-justify: auto;
    color: antiquewhite;
    font-size: 30px;
}

.cbc{
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
}

.fundo{
    background-image: url(data.png);
    image-resolution: opacity ;
}

