.imag{
    height: 500px;
    width: 600px;
}

.texto{
    text-align: center;
    text-justify: auto;
    color: antiquewhite;
    font-size: 25px;
}

h1{
    color: antiquewhite;
    font-size: 30px;
    text-align: center;
}

.fundo{
    background-image: url(data.png);
    image-resolution: opacity ;
}

/*link inicial*/
a:link, a:visited{
    text-decoration: none;/*retira toda decoracao*/
    color: white;/*cor do texto*/
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 2px solid black;   
}
/*link com cursos em cima*/
a:hover{
    color: white;
    background-color: blue;/*cor do fundo*/
}
/*link clicado*/
a:active{
    background-color: green;/*cor do fundo quando clicado*/
}